<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= "#{@user.name}さんの情報"%>
      </h2>
      <table class="table">
        <tbody>
          <tr>
            <th class="table__col1">名前</th>
            <td class="table__col2"><%= "#{@user.name}" %></td>
          </tr>
          <tr>
            <th class="table__col1">ホームエリア</th>
            <td class="table__col2"><%= "#{@user.area}" %></td>
          </tr>
          <%# <tr> %>
            <%# <th class="table__col1">所属</th>
            <td class="table__col2"><%= "ユーザーの所属" %></td>
          <%# </tr>
          <tr> %>
            <%# <th class="table__col1">役職</th>
            <td class="table__col2"><%= "ユーザーの役職" %></td>
          <%# </tr> %>
        </tbody>
      </table>
      <h2 class="page-heading">
        <%= "釣果一覧"%>
      </h2>
      <div class="user__card">
        <%# 部分テンプレートでそのユーザーが投稿した釣果一覧を表示 %>
        <%= render partial:"results/result", collection: @user.results %>
      </div>
    </div>
  </div>
</div>